<%- include('./includes/shop/head.ejs') %>

<%- include('./includes/users/generlaNavgation') %>
    <h1>Page Not Found!</h1>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <%- include('./includes/shop/end.ejs') %>
