:root {
  --accent-color: hsl(30, 100%, 50%); /* البرتقالي */
  --hero-background-gradient: linear-gradient(0, hsla(0, 0%, 0%, 0), hsl(210, 4%, 64%), hsla(0, 0%, 0%, 0));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

/* Global Styles */
body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  height: 100%;
  position: relative;

}

a {
  color: var( --accent-color);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap; /* تعديل flex-wrap لجعل العناصر تظهر في صف واحد */
  overflow-x: auto; /* السماح بالتمرير الأفقي */
}

li {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto; /* التأكد من أن العناصر لا تتمدد */
}

#hero {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 20px;
  background-color: var(--hero-background-gradient);
}

#hero h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

#hero form {
  display: inline-block;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px; /* تعديل العرض حسب الحاجة */
}
.search-Button {
  margin-top: 16px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 0 20px 20px 0;
  background-color:var( --accent-color);
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  width: 20%;
}

@media screen and (max-width: 768px) {
  #featured-jobs li, #latest-jobs li {
    width: 90%; /* عرض العناصر يكون أكبر على الشاشات الصغيرة */
  }

  .swiper {
    width:100%;
  }

  .categories-container li {
      width: 100%; /* عرض العناصر يكون أكبر على الشاشات الصغيرة */
  }

  /* تعديل عرض المدخلات والأزرار في الهيرو */
  /* #hero form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hero form input {
    width: 80%;
    margin-bottom: 10px;
  }

  #hero form button {
    width: 50%;
  } */
}
.moteseel{
  color: var(--accent-color);
}
@media screen and (max-width: 480px) {
  #featured-jobs li, #latest-jobs li {
    width: 90%; /* عرض العناصر يكون أكبر على الشاشات الصغيرة */
  }

  .swiper {
    width: 100%;
  }

  .categories-container ul {
      flex-direction: row;
      overflow-x: auto;
  }

  .categories-container li {
      width: 90%; /* عرض العناصر يكون أكبر على الشاشات الصغيرة */
      height: auto;
  }

  .categories-container li img {
      width: 90%;
      height: auto;
  }

  #featured-jobs ul, #latest-jobs ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #featured-jobs li, #latest-jobs li {
    margin-bottom: 20px;
  }
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: auto; /* حافظ على نسبة العرض إلى الارتفاع */
  max-height: 500px; /* يمكنك تعديل هذه القيمة حسب الحاجة */
  object-fit: cover; /* تأكد من أن الصورة تغطي الحاوية بشكل جيد */
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0002, #0004);
}
#featured-jobs {
  padding: 50px 20px;
}

#featured-jobs h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

#featured-jobs ul {
  display: flex;
  overflow-x: auto; /* السماح بالتمرير الأفقي */
  flex-wrap: nowrap; /* لإبقاء العناصر في صف واحد */

}

#featured-jobs li img {
  width: 100%;
  height: 150px; /* تعيين ارتفاع ثابت لجميع الصور */
  object-fit: cover; /* لجعل الصور تغطي كامل الحاوية */
  object-position: center; /* لتوسيط الصور */
  margin-bottom: 10px;
  border-radius: 27px;
}


#featured-jobs li {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 350px; /* عرض ثابت للعناصر */
  flex: 0 0 auto; /* التأكد من أن العناصر لا تتمدد */
  margin-left: 10px;
}

#featured-jobs li a {
  display: block;
  padding: 20px;
  color: #333;
  transition: all 0.3s ease;
}

#featured-jobs li a:hover {
  background-color: var( --accent-color);
  color: #fff;
}

#featured-jobs li img,
#latest-jobs li img {
  width: 100%;
  height: 250px; /* تعيين ارتفاع ثابت لجميع الصور */
  object-fit: cover; /* لجعل الصور تغطي كامل الحاوية */
  object-position: center; /* لتوسيط الصور */
  margin-bottom: 10px;
}

#featured-jobs li h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

#featured-jobs li p {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.product-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 100%;
}


#shop-by-categories {
  padding: 50px 20px;
  text-align: center;
}

#shop-by-categories h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.categories-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 20px;
  position: relative;
}

.categories-container ul {
  display: flex;
  flex-wrap: nowrap; /* لإبقاء العناصر في صف واحد */
  justify-content: flex-start;
  overflow-x: auto; /* السماح بالتمرير الأفقي */
  padding: 0 40px;
  margin: 0;
  list-style: none;
}


.categories-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 150px;
  background-color: transparent; /* إزالة خلفية العنصر */
  border: none; /* إزالة الحدود */
  flex-shrink: 0;
  overflow: hidden;
  scroll-snap-align: start; 
}
#shop-by-categories {
  padding: 50px 20px;
  text-align: center;
}

#shop-by-categories h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.categories-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.categories-list {
  display: flex;
  transition: transform 0.3s ease;
  padding: 0 40px;
}

.category-item {
  flex: 0 0 auto;
  width: 120px;
  margin: 0 10px;
  text-align: center;
}


.category-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%; /* جعل الصور دائرية */
}
.category-item p {
  margin-top: 10px;
  font-size: 0.9em;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  
}

#prev-button {
  left: 0;
  width: 20px;
  margin: 0 10px;
}

#next-button {
  right: 0;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .category-item {
    width: 100px;
  }
  
  .category-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%; /* جعل الصور دائرية */
  }
  
  .categories-container {
    padding: 0 30px;
  }
}

.product-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* يعرض سطرًا واحدًا فقط */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ظهور أسماء الفئات على الشاشات الصغيرة */
@media screen and (max-width: 480px) {
  .category-item p {
    display: block;
    white-space: normal; /* عرض النص بشكل عادي */
  }
}


@media screen and (max-width: 480px) {
  .categories-container ul {
      flex-direction: row;
      overflow-x: auto;
  }
  .category-item img {
    width: 90px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%; /* جعل الصور دائرية */
  }
  .categories-container li {
      width: 100px;
      height: 120px;
  }
  .swiper-button-next, .swiper-button-prev {
    display: block;
  }
  .category-item p {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
}

@media screen and (max-width: 768px) {
  #featured-jobs ul {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }

  #featured-jobs li {
    flex: 0 0 auto;
    width: 150px;
    margin-right: 10px;
  }
}

#latest-jobs {
  padding: 50px 20px;
}

#latest-jobs h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

#latest-jobs ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

#latest-jobs li {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* تعيين ارتفاع كامل للعناصر */
  padding: 10px; /* إضافة بعض المسافة الداخلية */
}

#latest-jobs li a {
  display: block;
  padding: 20px;
  color: #333;
  transition: all 0.3s ease;
  flex-grow: 1; /* التأكد من أن الرابط يأخذ الحيز الأكبر */
}

#latest-jobs li a:hover {
  background-color: var(--accent-color);
  color: #fff;
  border: 1px solid #ddd;
}

#latest-jobs li img {
  width: 100%;
  height: 200px; /* زيادة ارتفاع الصور */
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
  border-radius: 10px;
}


#latest-jobs li h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#latest-jobs li p {
  font-size: 1.2em;
  margin-bottom: 5px;
}

#latest-jobs li .price {
  font-size: 1.5em; /* تكبير حجم السعر */
  font-weight: bold;
  color: #ff4500;
  text-align: center; /* لمحاذاة السعر في المنتصف */
  margin-top: auto; /* دفع السعر إلى أسفل الحاوية */
  padding-top: 10px;
}

.categories-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* أنماط للشاشات الكبيرة */
@media screen and (min-width: 1024px) {
  #latest-jobs ul {
    grid-template-columns: repeat(4, 1fr); /* عرض 4 عناصر في كل صف */
  }
}

.categories-buttons button {
  background-color: var(--accent-color);
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.categories-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.prise{
  color:var(--accent-color);
  margin-top: 40px;
  margin-right: 35px;
  
}

@media screen and (max-width: 480px) {
  .category-item {
    margin-bottom: 20px; /* فراغ بين الفئات */
  }
}