<header>
    <h1>موقع التجارة الإلكترونية</h1>

    <nav>
        <ul>
            <li><a href="http://localhost:3000/SingIn"><i class="fas fa-sign-out-alt"></i> تسجيل الدخول</a></li>
            <li><a href="http://localhost:3000/Rejister/user"><i class="fas fa-user"></i> الانضمام</a></li>
            <li><a href="http://localhost:3000/LogOut"><i class="fas fa-briefcase"></i>LogOut</a></li>

        </ul>
    </nav>
</header>