<header>
    <h1>مختصر </h1>

    <nav>
        <ul>
            <li><a href="http://localhost:3000/shop/home"><i class="fas fa-sign-out-alt"></i> الصفحة الرئيسية</a></li>
            <li><a href="http://localhost:3000/shop/orders"><i class="fas fa-user"></i> السلة</a></li>
            <li><a href="http://localhost:3000/admin/add_product"><i class="fas fa-briefcase"></i> تاريخ الطلبيات</a></li>
            <li><a href="http://localhost:3000/shop/profile"><i class="fas fa-briefcase"></i> الملف الشخصي</a></li>
            <li><a href="http://localhost:3000/LogOut"><i class="fas fa-briefcase"></i>LogOut</a></li>




        </ul>
    </nav>
</header>