<!DOCTYPE html>
<html lang="ar">
<head>
    <%- include('../../includes/shop/head.ejs') %>
    <link rel="stylesheet" href="/css/addEmployee.css">
</head>
<body>
<%- include('../../includes/shop/navgation.ejs') %>

<div class="container search-container">
    <div class="row justify-content-center">
        <div class="search-container">
            <div class="input-group">
                 <div class="input-group-append">
                    <button id="searchButton" class="btn btn-search">بحث</button>
                </div>
                <input type="text" id="searchQuery" class="form-control search-input" placeholder="ابحث عن المستخدم">
               
            </div>
        </div>
        
    </div>
</div>
<input type="hidden" name="_csrf" id="l" value="<%= csrfToken %>">

<div class="container results-container" id="resultsContainer">
    <!-- نتائج البحث ستظهر هنا -->
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/addEmployee.js" ></script>

<%- include('../../includes/shop/end.ejs') %>
</body>
</html>
