<%- include('../includes/shop/head.ejs') %>
<link rel="stylesheet" href="/css/head.css">
<link rel="stylesheet" href="/css/rejister.css">
</head>
<%- include('../includes/shop/navgationGeneral.ejs') %>
<form id="all" method="post" enctype="multipart/form-data">
  <div class="container">
    <h2>انشاء حساب بائع</h2>
    <label for="first_name">الاسم الأول:</label>
    <input type="text" id="first_name" name="first_name" required />

    <label for="last_name">الاسم الأخير:</label>
    <input type="text" id="last_name" name="last_name" required />

    <label for="email">البريد الإلكتروني :</label>
    <input type="email" id="email" name="email" required />

    <label for="password">كلمة المرور :</label>
    <input type="password" id="password" name="password" required />

    <label for="phone">رقم الهاتف :</label>
    <input type="tel" id="phone" name="phone" required />

    <label for="company_name">اسم الشركة (المتجر) :</label>
    <input type="text" id="company_name" name="company_name" />

    <label for="activity_type">نوع النشاط :</label>
    <select id="activity_type" name="activity_type" class="activity_type" required>
      <option value="10">ملابس رجال</option>
      <option value="20">ملابس اطفال</option>
      <option value="30">الصحة</option>
    </select>

    <label>هل يوجد متجر ع ارض الواقع؟:</label>
    <input type="radio" name="plase" value="91" /> لايوجد متجر بامكان الناس زيارته
    <input type="radio" name="plase" value="92" /> يوجد متجر بامكان الناس زيارته

    <label for="city">المدينة:</label>
    <select id="city" name="city" class="city" required>
      <option value="" disabled selected>اختر المدينة</option>
      <option value="01">مدينة 1</option>
      <option value="02">مدينة 2</option>
      <option value="03">مدينة 3</option>
      <!-- أضف المزيد من المدن حسب الحاجة -->
    </select>

    <label for="license_number">رقم الترخيص:</label>
    <input type="text" id="license_number" name="license_number" />

    <label for="address">العنوان (قم بوصف العنوان):</label>
    <input type="text" id="address" name="address">

    <input type="hidden" id="longitude" name="longitude">
    <input type="hidden" id="latitude" name="latitude">

    <!-- زر تحديد الموقع -->
    <button type="button" onclick="getUserLocation()">تحديد الموقع ع الخريطة</button>

    <div id="map" style="height: 400px; width: 100%"></div>

    <!-- يمكنك إضافة المزيد من الحقول هنا حسب متطلبات التسجيل -->
    <button type="submit" id="submit">إرسال</button>
    
  </div>
</form>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ3phAQVBfelG8E7PmauVNs01qkWT8euw&callback=initMap" async defer></script>
<script src="/js/Map.js"></script>
<script src="/js/rejisterShop.js"></script>
<%- include('../includes/shop/end.ejs') %>
