body {
  direction: rtl;
}

.container {
  max-width: 100%;
  padding: 20px;
}

.category-item {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.category-item img {
  width: 100px; /* حجم الصورة */
  height: 100px; /* حجم الصورة */
  object-fit: cover; /* لملء الصورة */
  border-radius: 5px;
  margin-right: 10px;
}

.category-item .category-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.category-item .btn {
  margin-left: 10px;
}

.btn-secondary {
  margin-top: 10px;
}

/* تصميم للشاشات الصغيرة والمتوسطة */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .category-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .category-item .btn {
    width: 100%;
    margin-top: 10px;
  }

  .category-item img {
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
  }
}
.strong{
  margin-left:500px;
  margin-bottom: 75px;
}
/* تصميم للشاشات الصغيرة جداً */
@media (max-width: 460px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .category-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .category-item .btn {
    width: 100%;
    margin-top: 10px;
  }

  .category-item img {
    width: 150px;
    height: 150px;
  }
}
.pp{
  margin-left:600px;
    margin-bottom: 25px;
}