
<body>

   <header class="header">
      <div class="header__container containerr">
         <div class="header__toggle" id="header-toggle">
            <i class="ri-menu-line"></i>
         </div>
      </div>
      <form class="searchForm" action="/shop/SerchResult" enctype="multipart/form-data">
         <button type="submit" id="search_button" class="search-Button">بحث</button>
         <input type="text" id="search_inputs" class="search-Input" name="keyword" placeholder="ابحث عن المنتجات المميزة">
   
       </form>
      <a href="http://localhost:3000/user/Home" class="header__logo">
         <img src="/imjs/hh.png" alt="Logo">
      </a>
   </header>

   <div class="sidebar" id="sidebar">
      <nav class="sidebar__container">
         <div class="sidebar__logo">
               <img src="../images/<%= storeInfo.url %>" alt="Logo" class="sidebar__logo-img">  <i class="namet"><%= storeInfo.CompanyName  %></i>
               <p class="FirstName"><%= userInfo.FirstName  %></p>
         </div>
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         <div class="sidebar__content">
            <div class="sidebar__list">
               <a href="http://localhost:3000/user/Home" class="sidebar__link active-link">
                  <i class="ri-home-5-line"></i>
                  <span class="sidebar__link-name">الرئسية</span>
               </a>
               <a href="http://localhost:3000/cart/orders" class="sidebar__link">
                  <i class="ri-compass-3-line"></i>
                  <span class="sidebar__link-name">تجهيز الطلبيات</span>
               </a>
               <a href="http://localhost:3000/shop/profile" class="sidebar__link">
                  <i class="ri-video-line"></i>
                  <span class="sidebar__link-name">الملف الشخصي</span>
               </a>
               <% stores.forEach(store => { %>
               <% if (store.role_id != 4) { %>
               <a href="/admin/add_product" class="sidebar__link">
                  <i class="ri-add-box-line"></i>
                  <span class="sidebar__link-name">اضافة منتج جديد</span>
               </a>
               <% } %>
               <% }) %>
               

            </div>
            <h3 class="sidebar__title">
               <span>الاعدادت</span>
            </h3>
            <div class="sidebar__list">

               <% stores.forEach(store => { %>
               <% if (store.role_id === 1) { %>
               <a href="/addEmployee" class="sidebar__link">
                  <i class="ri-logout-box-r-line"></i>
                  <span class="sidebar__link-name">اضافة موظف</span>
               </a>
               <% } %>
               <% }) %>

               <a href="/LogOut" class="sidebar__link">
                  <i class="ri-logout-box-r-line"></i>
                  <span class="sidebar__link-name">LogOut</span>
               </a>
            </div>
   
            <% if(userInfo.lenght===0) {%>
            <div class="sidebar__account">
               <img src="<%= userInfo.url %>" alt="Profile" class="sidebar__perfil">
               <div class="sidebar__names">
                  <h3 class="sidebar__name"><% userInfo.FirstName %></h3>
               </div>
               <i class="ri-arrow-right-s-line"></i>
            </div>
            <% } %>
         </div>
      </nav>
   </div>
   <script src="/js/Navgation.js"></script>
      

   <script>
      document.getElementById('header-toggle').addEventListener('click', function() {
         document.getElementById('sidebar').classList.toggle('show-sidebar');
      });

      function closeNav() {
         document.getElementById('sidebar').classList.remove('show-sidebar');
      }
   </script>